<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> <% current_user.email %></h1>

  </div>
</div>


<a name = "value"></a>
<div class="container cards my-4">
  <% current_user.offers.each do |offer| %>
    <%= link_to offer, style:"text-decoration: none" do %>
      <div class="card-trip-general">
        <div class="card-trip">
          <%= cl_image_tag(offer.photo, width: 500, height: 500, crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= offer.name %> </h2>
            </div>
            <h2 class="card-trip-pricing">R$ <%= offer.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <%end %>
</div>
