.card-prod-show {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 18px;
  max-width: 500px;
  color: #171738;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: #171738;
}

img {
  border-radius: 5px;
}

p {
  color: black;
}
